body {
    background-color: grey; 
    color: red; 
    font-family: Arial, sans-serif; 
  }
  
button, select {
    background-color: #4CAF50; 
    color: white; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    margin-right: 10px;
  }
  